
html {
	font-size: 16px;
	font-family: sans-serif;
}

#bookmarksTable {
	width: 100%;
	table-layout: fixed;
	text-align: left;
	margin-top: 120px;
	border-collapse: collapse;
}

#bookmarksTable thead {
	display: none;
}

#bookmarksTable.showSelected tbody tr {
	display: none;
}

#bookmarksTable.showSelected tbody tr.selected {
	display: table-row;
}

#bookmarksTable th {
	padding: 3px;
}

#bookmarksTable td:first-child {
	width: 20px;
}

#bookmarksTable td {
	overflow: hidden;
	white-space: nowrap;
	padding: 3px;
}

#bookmarksTable td:hover {
	position: relative;
	overflow: visible;
}
#bookmarksTable a {
	background: #fff;
	padding: 3px 100px 3px 0px;
}

#bookmarksTable .loading {
	font-weight: bold;
}

#bookmarksTable .failed {
	color: #B00;
}

#bookmarksTable .found {
	color: #0B0;
}

#bookmarksTable .found .new {
	color: #AA0;
}

#bookmarksTable tbody tr {
	cursor: pointer;
}

#bookmarksTable tbody tr.selected {
	background: #f0f0f0;
}
#bookmarksTable tbody tr.selected a {
	background: #f0f0f0;
}


#controls {
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	padding: 8px;
	margin: 0;
	text-align: center;
	width: 100%;
	border-bottom: 2px solid #CCC;
	background: #f0f0f0;
	z-index: 100;
}
#controls span {
	margin-right: 20px;
}
